@using ControleDeBarWebApp.Models

@model DetalhesMesaViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Detalhes da Mesa";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">

        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <h3>Detalhes</h3>

                <div class="form-group d-grid mt-3 gap-2">
                    <label for="Id" class="control-label fs-5">Id:</label>
                    <input name="Id" class="form-control" value="@Model.Id" readonly disabled />
                </div>
                <div class="form-group d-grid mt-3 gap-2">
                    <label for="Numero" class="control-label fs-5">Número:</label>
                    <input name="Numero" class="form-control" type="number" value="@Model.Numero" readonly disabled />
                </div>
                <div class="form-group d-grid mt-3 gap-2">
                    <label for="Capacidade" class="control-label fs-5">Capacidade:</label>
                    <input name="Capacidade" class="form-control" type="number" value="@Model.Capacidade" readonly disabled />
                </div>
                <div class="form-group d-flex align-items-center justify-content-end mt-5 gap-3">
                    <a href="/mesas">Voltar para a listagem</a>
                </div>
            </div>
        </div>


    </div>
</div>